<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <h1><%= title %></h1>
    <ul>
      <% for (const message of messages) { %>
        <li>
            [<%= message.added.toLocaleDateString() %>, 
            <%= message.added.toLocaleTimeString() %>] 
            <%= message.user %> says: 
            <%= message.text %>
        </li>
      <% } %>
    </ul>
  </body>
</html>