<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Message</title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="message-container">
      <div class="message">
        <h1 class="message-text"><%= text %></h1>
        <p>Author: <%= username %></p>
        <p>Date: <%= added.toLocaleDateString() %></p>
        <p>Time: <%= added.toLocaleTimeString() %></p>
      </div>
    </div>
  </body>
</html>
